<header>
    <nav>
        <!-- Topbar Start -->
        <div class="container-fluid bg-primary d-none text-white d-lg-flex">
            <div class="container py-3">
                <div class="d-flex align-items-center">
                    <a href="index.html">
                        <h2 class="text-white fw-bold m-0"><img src="img/Refun.svg" width="150" height="60"></h2>
                    </a>
                    <div class="ms-auto d-flex align-items-center">
                        <div class="ms-3 d-flex">
                            <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                            <!-- 增加多语言切换按钮 -->
                            <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2"
                                href="javascript:void(0);" id="lang-toggle"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar Start -->
        <div class="container-fluid bg-white sticky-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
                    <a href="index.html" class="navbar-brand d-lg-none">
                        <h1 class="fw-bold m-0" data-i18n="Brand Name">Refun</h1>
                    </a>
                    <!-- 切换语言按钮 -->
                    <!-- <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" id="lang-toggle">
                        <span class="fas fa-language"></span>
                    </button> -->
                    <!-- 钱包按钮 -->
                    <!-- <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="fas fa-wallet"></span>
                    </button> -->
                    <!-- 菜单按钮 -->
                    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="index.html" class="nav-item nav-link active" data-i18n="Home">Home</a>
                            <a href="about.html" class="nav-item nav-link" data-i18n="About">About</a>
                            <a href="service.html" class="nav-item nav-link" data-i18n="Services">Services</a>
                            <a href="project.html" class="nav-item nav-link" data-i18n="Projects">Projects</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                    data-i18n="Pages">Pages</a>
                                <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                                    <a href="feature.html" class="dropdown-item" data-i18n="Features">Features</a>
                                    <a href="team.html" class="dropdown-item" data-i18n="Our Team">Our Team</a>
                                    <a href="testimonial.html" class="dropdown-item"
                                        data-i18n="Testimonial">Testimonial</a>
                                    <a href="quote.html" class="dropdown-item" data-i18n="Quotation">Quotation</a>
                                    <a href="404.html" class="dropdown-item" data-i18n="404 Page">404 Page</a>
                                </div>
                            </div>
                        </div>
                        <div class="ms-auto d-lg-block d-none">
                            <a href="" data-i18n="Get A Quote" class="btn btn-primary rounded-pill py-2 px-3">Get A
                                Quote</a>
                        </div>
                    </div>
                    <!-- <div class="ms-auto d-lg-block">
                        <a href="javascript:void(0);" id="wallet-connect" class="btn btn-primary rounded-pill py-2 px-3"
                            data-i18n="Connect Wallet">Connect Wallet</a>

                    </div> -->
                </nav>
            </div>
        </div>

        <!-- Navbar End -->
    </nav>
</header>